<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <nav>
        <ul>
            {{#if user }}
                <li><a href="/auth/logout">logout</a></li> 
                <li><a href="/user/upload-profile-pic">profile</a></li> 
                <li>Hi {{user.username}} </li>
            {{else}}
                <li><a href="/auth/signup">signup</a></li>
                <li><a href="/auth/login">login</a></li>
            {{/if}}
            <li><a href="/movies">movies</a></li>
        </ul>
    </nav>

    {{{body}}}
</body>
</html>